.btn {
    height: 30px;
    width: 50px;
    border: 3px solid #250729;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    color: #250729;
    font-weight: bold;
    font-family: Consolas;
    outline: none;
}
.btn:hover{
    transition: ease 0.5s;
    background-color: white;
}
.success {
    background-color: #cdf3ab;
    text-transform: uppercase;
    transition: all 0.5s;
}
.success:hover {
    background-color: limegreen;
    transition: all 0.5s;
}

.danger {
    background-color: #f37777;
    text-transform: uppercase;
    transition: all 0.5s;
}
.danger:hover{
    background-color: crimson;
    transition: all 0.5s;
}
