header {
    background-color: #250729;
    color: lightgrey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: Consolas;
}
.header-text {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 1.3s;
    margin: 10px 10px 10px 3%;
    border-bottom: none;
}
.header-text:hover{
    transition: ease 1s;
    color: #f37777;
}
.header-text a {
    color: white;
    text-decoration: none;
}
.navigation {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    margin: 10px;
    color: lightgrey;
    text-decoration: none;
    border-bottom: 2px solid lightgrey;
    transition: ease 0.5s;
    text-transform: uppercase;
}

.navigation a:hover{
    transition: ease 0.5s;
    border-bottom: 2px solid lightcoral;
    color: lightcoral;
}