header {
    background-color: #250729;
    color: lightseagreen;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    font-family: Consolas, serif;
}
.header-text {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: ease 1.3s;
    margin: 10px 10px 10px 3%;
    border-bottom: none;

}
.header-text:hover{
    transition: ease 1s;
    color: lightseagreen;
}
.header-text a {
    color: white;
    text-decoration: none;
}
.navigation {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    margin: 10px;
    color: lightgrey;
    text-decoration: none;
    border-bottom: 2px solid lightgrey;
    transition: ease 0.5s;
    text-transform: uppercase;
}

.navigation a:hover{
    transition: ease 0.5s;
    border-bottom: 2px solid lightseagreen;
    color: lightseagreen;
}

.navigation a.icon span,
.navigation a.icon span::before,
.navigation a.icon span::after {
    display: block;
    height: 2px;
    width: 10px;
    background-color: lime;
}

.navigation a.icon span::before,
.navigation a.icon span::after {
    content: '';
}

.navigation a.icon span::before{
    transform: translateY(-5px);
}

.navigation a.icon span::after{
    transform: translateY(5px);
}

.navigation .icon {
    display: none;
}

@media screen and (max-width: 420px) {
    .navigation a{
        display: none;
    }
    .navigation a.icon {
        display: flex;
        border: none;
        align-items: center;
    }
}